@tailwind base;
@tailwind components;
@tailwind utilities;

html:focus-within {
  scroll-behavior: smooth;
}

/* Respect reduced motion */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}


